body {
  padding-top: 56px;
}


.sticky-offset {
    top: 112px;
}

h2 {
  padding-top: 20px;
}


/* card image scaling preserves aspect ratio */
.card-img-top {
    height: 100%;
}

/* pygments highlight */
.highlight {
  border: 1px solid #cfcfcf;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  background: #f7f7f7;
  line-height: 1.21429em;
  margin-bottom: 10px;
}

/*jump to anchor avoiding overlap with page header*/

:target::before {
  content: "";
  display: block;
  height: 70px;
  margin: -70px 0 0;
}

.navbar .dropdown {
  margin-right: 4px;
}

.navbar .dropdown-menu {
  padding-left: 10px;
}

/* share buttons */

.btn-social-icon {
  fill: white;
  margin: 5px;
}

.fa {
  padding: 0px;
  padding-bottom: 7px;
}


.fa svg {
  transform: translate(0px, -2px);
  height: 100%;
}

